// Font Variables
$font-heading: 'Niconne', cursive;
$font-text: 'Poppins', sans-serif;
$font-secondary: 'Roboto', sans-serif; 

// Color Variables
$color-primary: #CE4D4D;
$color-secondary: #06C58A;
$color-grey-light: #f7f7f7;