.px-15 {
  padding: 0 15px !important; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: "Poppins", sans-serif;
  color: #333333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.row {
  display: flex;
  flex-wrap: wrap; }

.heading__secondary {
  font-family: "Niconne", cursive;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  margin: 0;
  padding: 0 15px; }
  @media (max-width: 576px) {
    .heading__secondary {
      font-size: 30px; } }

.heading__tertiary {
  color: #fff;
  font-weight: 600;
  font-size: 23px; }
  @media (max-width: 576px) {
    .heading__tertiary {
      font-size: 20px; } }

.btn__add-cart {
  text-decoration: none;
  display: inline-block;
  padding: 5px 13px;
  color: #fff;
  background-color: #06C58A;
  border-radius: 3px;
  transition: all .3s; }
  .btn__add-cart:hover {
    background-color: #4b55e0; }

.btn__cart-line {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  transition: all .3s; }
  .btn__cart-line:hover {
    color: #e7e7e7; }

.nav-container {
  position: relative; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 75px; }

.navbar__logo {
  font-size: 30px;
  font-family: "Niconne", cursive; }

.navbar__logo span {
  font-size: 35px;
  color: #06C58A; }

@media (max-width: 992px) {
  .navbar__menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #fff;
    border-top: 1px solid #e7e7e7; } }

.show {
  display: block; }

.navbar__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; }
  @media (max-width: 992px) {
    .navbar__list {
      flex-direction: column;
      padding: 16px 16px 16px 25px; } }

.navbar__item:not(:last-child) {
  margin-right: 25px; }

.navbar__link {
  text-decoration: none;
  color: #858585;
  font-family: "Niconne", cursive;
  font-size: 23px;
  transition: all .2s; }
  .navbar__link:hover {
    color: #333; }

.active {
  color: #333; }

.navbar__btn {
  display: none;
  cursor: pointer;
  transition: all .2s; }
  .navbar__btn:hover {
    color: #CE4D4D; }
  @media (max-width: 992px) {
    .navbar__btn {
      display: block;
      font-size: 22px;
      border: 0;
      background-color: transparent;
      color: #333; } }

.banner {
  position: relative; }

.banner__item {
  height: 60vh;
  background-image: url("../images/banner-img-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20%; }

.banner__content {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 70%;
  padding: 10px;
  border-radius: 150px 150px 0 0;
  transform: translateX(-50%);
  background-color: #f7f7f7;
  font-family: "Niconne", cursive;
  color: #CE4D4D;
  text-align: center; }
  @media (max-width: 768px) {
    .banner__content {
      width: 90%; } }
  @media (max-width: 576px) {
    .banner__content {
      width: 96%;
      border-radius: 30px 30px 0 0; } }

.banner__content h1 {
  font-size: 50px;
  line-height: 1;
  font-weight: 400;
  margin: 0; }
  @media (max-width: 768px) {
    .banner__content h1 {
      font-size: 45px; } }
  @media (max-width: 576px) {
    .banner__content h1 {
      font-size: 35px; } }

.banner__content p {
  margin: 0;
  font-size: 25px;
  line-height: 1; }
  @media (max-width: 576px) {
    .banner__content p {
      font-size: 20px; } }

.card {
  padding: 0 15px;
  margin: 15px 0;
  width: 25%; }
  @media (max-width: 992px) {
    .card {
      width: 33.33333%; } }
  @media (max-width: 768px) {
    .card {
      width: 50%; } }
  @media (max-width: 576px) {
    .card {
      width: 100%; } }

.card__container {
  background-color: #fff;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1); }

.card__img {
  width: 100%;
  height: 200px; }

.card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.card__title {
  display: block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #4e4e4e;
  line-height: 1.3;
  transition: all .2s; }

.card__title:hover {
  color: #4b55e0; }

.card__info {
  padding: 0 20px;
  font-family: "Roboto", sans-serif;
  text-align: center; }

.card__price {
  font-weight: 700;
  font-size: 16px; }

.card__price-full {
  margin-left: 10px;
  text-decoration: line-through;
  color: #7c7c7c; }

.card__price-off {
  font-weight: 600;
  color: #CE4D4D;
  margin-left: 10px; }

.card__btn-box {
  text-align: center;
  padding: 10px 20px 20px; }

.square-card {
  padding: 0 15px;
  margin: 15px 0;
  width: 25%; }
  @media (max-width: 992px) {
    .square-card {
      width: 33.33333%; } }
  @media (max-width: 768px) {
    .square-card {
      width: 50%; } }
  @media (max-width: 576px) {
    .square-card {
      width: 100%; } }

.square-card__container {
  position: relative;
  overflow: hidden; }

.square-card__img {
  height: 200px; }

.square-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.square-card__info {
  position: absolute;
  bottom: -35px;
  left: 0;
  background-color: rgba(206, 77, 77, 0.85);
  width: 100%;
  padding: 10px 20px;
  transition: all .3s; }

.square-card__container:hover .square-card__info {
  bottom: 0; }

.square-card__title {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.3;
  transition: all .2s; }
  .square-card__title:hover {
    color: #e7e7e7; }

.square-card__text {
  font-family: "Roboto", sans-serif;
  margin: 5px 0; }

.square-card__price {
  font-weight: 600;
  margin-right: 10px;
  color: #fff; }

.square-card__full {
  margin-right: 10px;
  color: #dbdbdb;
  text-decoration: line-through; }

.square-card__off {
  font-weight: 600;
  color: #e9e643; }

.simple-card {
  padding: 0 15px;
  margin: 15px 0;
  width: 33.333333%; }
  @media (max-width: 576px) {
    .simple-card {
      width: 100%; } }

.simple-card__container {
  min-height: 250px;
  position: relative; }

.simple-card__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top; }

.simple-card__content {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  padding: 15px 30px;
  background-image: linear-gradient(rgba(206, 77, 77, 0) 10%, rgba(206, 77, 77, 0.8) 60%); }

.quote {
  text-align: center;
  font-size: 35px;
  color: #fff; }

.simple-card__text {
  color: #fff;
  margin: 5px 0 0 0; }

.simple-card__name {
  text-align: right;
  margin: 5px 0 0 0;
  color: #dadada;
  font-style: italic;
  font-size: 14px; }

.footer {
  background-color: #CE4D4D;
  padding: 32px 0; }

.footer__col:first-child,
.footer__col:nth-child(2) {
  width: 30%; }
  @media (max-width: 768px) {
    .footer__col:first-child,
    .footer__col:nth-child(2) {
      width: 50%; } }
  @media (max-width: 576px) {
    .footer__col:first-child,
    .footer__col:nth-child(2) {
      width: 100%; } }

.footer__col:last-child {
  width: 40%; }
  @media (max-width: 768px) {
    .footer__col:last-child {
      width: 100%; } }

.footer__info {
  color: #ececec; }

.footer__info-text {
  color: #ececec; }

.footer__link a {
  color: #ececec;
  text-decoration: none; }

.footer hr {
  margin-top: 20px;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3); }

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; }
  @media (max-width: 768px) {
    .footer__bottom {
      flex-direction: column; } }

.footer__bottom > * {
  margin-top: 10px; }

.copy {
  color: #eeeeee;
  margin: 0; }

.social {
  display: flex; }

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-decoration: none;
  color: #fff; }
  .social__link:not(:last-child) {
    margin-right: 15px; }
  .social__link:hover {
    background-color: #fff;
    color: #CE4D4D; }

/*    New Arrival Section
------------------------------------------------------ */
.new-arrivals {
  background-color: #f7f7f7;
  padding: 32px 0;
  min-height: 500px; }

.new-arrivals__box {
  display: flex;
  flex-wrap: wrap; }

/*    Offer Banner Section
-------------------------------------------------------- */
.offer {
  padding: 32px 0; }

.offer__content {
  height: 200px;
  padding: 0 15px;
  position: relative;
  background-image: url("../images/offer-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  @media (max-width: 576px) {
    .offer__content {
      background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/offer-img.jpg"); } }

.offer__text {
  position: absolute;
  right: 80px;
  top: 50%;
  transform: translateY(-50%);
  color: #CE4D4D; }
  @media (max-width: 576px) {
    .offer__text {
      right: 10px; } }

.offer__text p:first-child {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  margin: 0; }

.offer__text p:last-child {
  font-size: 25px;
  line-height: 1.2;
  margin: 0; }

/*    Top Selling Section
--------------------------------------------------------- */
.top-selling {
  padding-bottom: 32px; }

.top-selling__box {
  display: flex;
  flex-wrap: wrap; }

/*    Customer Reviews Section
--------------------------------------------------------- */
.review {
  padding: 32px 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/reviews.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.review__box {
  display: flex;
  flex-wrap: wrap; }

/*    Featured Section
--------------------------------------------------------- */
.featured {
  padding: 32px 0; }

.featured__box {
  display: flex;
  align-items: center;
  justify-content: center; }

.featured__img {
  padding: 0 15px;
  margin: 15px 0;
  max-width: 250px; }

.featured__img img {
  width: 100%; }
